/* Settings Panel */
.settings-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  background: rgba(30, 30, 30, 0.95);
  z-index: 250;
  display: none;
  padding: 5em 4.5em;
  overflow-y: auto;
}