/* Carousel */
.carousel-container {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-img {
    display: none;
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain;
  }
  
  .carousel-img.active {
    display: block;
  }
  
  /* Carousel Navigation */
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 5;
    transition: all 0.2s ease;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }
  
  .prev-btn:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(50, 50, 50, 0.5) 50%);
    width: 120px;
  }
  
  .next-btn:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(50, 50, 50, 0.5) 50%);
    width: 120px;
  }