@import 'styles/base.css';
@import 'styles/game-list.css';
@import 'styles/game-actions.css';
@import 'styles/game-info-panel.css'; 
@import 'styles/carousel.css';
@import 'styles/custom-tag.css';
@import 'styles/settings.css';
@import 'styles/header.css';
@import 'styles/modern.css';
